nod-red/Zone_rouge.json
[
    {
        "id": "8fe560575451b2d7",
        "type": "tab",
        "label": "Zone Rouge",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "3f41d841123d1f45",
        "type": "mqtt in",
        "z": "8fe560575451b2d7",
        "name": "",
        "topic": "capteur/temperature/hebergement",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6ddfcaba62ed555c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 280,
        "wires": [
            [
                "7f2d2e123763eaee",
                "3f3289f33be6f3fa",
                "c8c57eeaf7fb2423"
            ]
        ]
    },
    {
        "id": "7f2d2e123763eaee",
        "type": "debug",
        "z": "8fe560575451b2d7",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 280,
        "wires": []
    },
    {
        "id": "3f3289f33be6f3fa",
        "type": "influxdb out",
        "z": "8fe560575451b2d7",
        "influxdb": "1dd4782fe68705c7",
        "name": "",
        "measurement": "hebergement",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Lidian",
        "bucket": "Temp",
        "x": 590,
        "y": 420,
        "wires": []
    },
    {
        "id": "e7a7d8f35661465e",
        "type": "mqtt in",
        "z": "8fe560575451b2d7",
        "name": "",
        "topic": "capteur/choc",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "6ddfcaba62ed555c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 720,
        "wires": [
            [
                "4fc1031146f63f9c",
                "4edcd156bfe3bccc",
                "1e8c9555afa242d6"
            ]
        ]
    },
    {
        "id": "4fc1031146f63f9c",
        "type": "debug",
        "z": "8fe560575451b2d7",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 720,
        "wires": []
    },
    {
        "id": "4edcd156bfe3bccc",
        "type": "influxdb out",
        "z": "8fe560575451b2d7",
        "influxdb": "4c478d375568f7cd",
        "name": "",
        "measurement": "hebergement",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Lidian",
        "bucket": "choc",
        "x": 630,
        "y": 780,
        "wires": []
    },
    {
        "id": "d98165e0f7fd660e",
        "type": "mqtt in",
        "z": "8fe560575451b2d7",
        "name": "",
        "topic": "capteur/fumee/hebergement",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "453ae410a021db25",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 940,
        "y": 260,
        "wires": [
            [
                "609455b6a00c96cc",
                "ba8d8112c14f93c8",
                "52bab81717abd880"
            ]
        ]
    },
    {
        "id": "609455b6a00c96cc",
        "type": "debug",
        "z": "8fe560575451b2d7",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 260,
        "wires": []
    },
    {
        "id": "ba8d8112c14f93c8",
        "type": "influxdb out",
        "z": "8fe560575451b2d7",
        "influxdb": "4ae37e8e6eccfb6d",
        "name": "",
        "measurement": "incend",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Lidian",
        "bucket": "fume",
        "x": 1290,
        "y": 320,
        "wires": []
    },
    {
        "id": "9396d24c4d460e07",
        "type": "mqtt in",
        "z": "8fe560575451b2d7",
        "name": "",
        "topic": "capteur/mouvement/hebergement",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "6ddfcaba62ed555c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 950,
        "y": 720,
        "wires": [
            [
                "261604c8463a2630",
                "4256dbe8d50844e8",
                "b0636e62dfdd3cda"
            ]
        ]
    },
    {
        "id": "261604c8463a2630",
        "type": "debug",
        "z": "8fe560575451b2d7",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 720,
        "wires": []
    },
    {
        "id": "4256dbe8d50844e8",
        "type": "influxdb out",
        "z": "8fe560575451b2d7",
        "influxdb": "6592ab71b58c9391",
        "name": "",
        "measurement": "coeur",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Lidian",
        "bucket": "detect",
        "x": 1250,
        "y": 800,
        "wires": []
    },
    {
        "id": "6a11cc7132b74c7f",
        "type": "ui_toast",
        "z": "8fe560575451b2d7",
        "position": "top right",
        "displayTime": "3",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "Alerte mouvement en salle d'hebergement!",
        "name": "Alerte mouvement !",
        "x": 1270,
        "y": 980,
        "wires": []
    },
    {
        "id": "df28ad377ffccbff",
        "type": "http request",
        "z": "8fe560575451b2d7",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.callmebot.com/whatsapp.php?phone=33766489074&text=Mouvement+detecte+en+salle+hebergement&apikey=5438638",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1230,
        "y": 920,
        "wires": [
            [
                "2febb53a3a5a963a"
            ]
        ]
    },
    {
        "id": "2febb53a3a5a963a",
        "type": "debug",
        "z": "8fe560575451b2d7",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 920,
        "wires": []
    },
    {
        "id": "52bab81717abd880",
        "type": "function",
        "z": "8fe560575451b2d7",
        "name": "function 6",
        "func": "if (msg.payload > 800){\n    msg.topic = \"Alerte fumée\";\n    msg.payload = \"Présence de fumée détecté en salle d'hebergement! Vérifiez immédiatement.\";\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 380,
        "wires": [
            [
                "35e5d497b10c9e1c",
                "f7e8c2a4c2b38a9c",
                "866da59533ca0b52"
            ]
        ]
    },
    {
        "id": "f7e8c2a4c2b38a9c",
        "type": "ui_toast",
        "z": "8fe560575451b2d7",
        "position": "top right",
        "displayTime": "3",
        "highlight": "pink",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "Alerte fumée en salle d'hebergement !",
        "name": "Alerte fumée !",
        "x": 1340,
        "y": 540,
        "wires": []
    },
    {
        "id": "35e5d497b10c9e1c",
        "type": "http request",
        "z": "8fe560575451b2d7",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.callmebot.com/whatsapp.php?phone=33766489074&text=Présence+de+fumée+détecté+en+salle+hebergement+Vérifiez+immédiatement&apikey=5438638",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1330,
        "y": 480,
        "wires": [
            [
                "b9104111ce4f1afe"
            ]
        ]
    },
    {
        "id": "b9104111ce4f1afe",
        "type": "debug",
        "z": "8fe560575451b2d7",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 440,
        "wires": []
    },
    {
        "id": "866da59533ca0b52",
        "type": "e-mail",
        "z": "8fe560575451b2d7",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "lidiansae411@gmail.com",
        "dname": "Mail",
        "x": 1310,
        "y": 400,
        "wires": []
    },
    {
        "id": "1e8c9555afa242d6",
        "type": "function",
        "z": "8fe560575451b2d7",
        "name": "function 7",
        "func": "if (msg.payload===1){\n    msg.topic = \"Alerte choc\";\n    msg.payload = \"Choc détecté sur le dispositif ! Vérifiez immédiatement.\";\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 860,
        "wires": [
            [
                "07fb505a0a2987e3",
                "4b0e0f016d74b4d6",
                "d57da49fdb57af8a"
            ]
        ]
    },
    {
        "id": "4b0e0f016d74b4d6",
        "type": "ui_toast",
        "z": "8fe560575451b2d7",
        "position": "top right",
        "displayTime": "3",
        "highlight": "pink",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "Alerte choc !",
        "name": "Alerte choc !",
        "x": 610,
        "y": 1060,
        "wires": []
    },
    {
        "id": "07fb505a0a2987e3",
        "type": "http request",
        "z": "8fe560575451b2d7",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.callmebot.com/whatsapp.php?phone=33766489074&text=Choc+détecté+sur+le+dispositif+Vérifiez+immédiatement&apikey=5438638",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 860,
        "wires": [
            [
                "3df4c7eb5f1685f0"
            ]
        ]
    },
    {
        "id": "3df4c7eb5f1685f0",
        "type": "debug",
        "z": "8fe560575451b2d7",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 960,
        "wires": []
    },
    {
        "id": "d57da49fdb57af8a",
        "type": "e-mail",
        "z": "8fe560575451b2d7",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "lidiansae411@gmail.com",
        "dname": "Mail",
        "x": 590,
        "y": 1000,
        "wires": []
    },
    {
        "id": "039f1b410614bc70",
        "type": "e-mail",
        "z": "8fe560575451b2d7",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "lidiansae411@gmail.com",
        "dname": "Mail",
        "x": 1230,
        "y": 860,
        "wires": []
    },
    {
        "id": "b0636e62dfdd3cda",
        "type": "function",
        "z": "8fe560575451b2d7",
        "name": "function 5",
        "func": "msg.to=\"wademame2005@gmail.com\";\nmsg.topic=\"Alerte mouvement\";\nmsg.payload=\"Un mouvement a été détecté en salle d'hebergement!\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 920,
        "wires": [
            [
                "039f1b410614bc70",
                "df28ad377ffccbff",
                "6a11cc7132b74c7f"
            ]
        ]
    },
    {
        "id": "c8c57eeaf7fb2423",
        "type": "function",
        "z": "8fe560575451b2d7",
        "name": "function 8",
        "func": "if (msg.payload.temperature > 30){\n    msg.topic = \"Alerte températaure\";\n    msg.payload = \"Température élevée en salle d'hebergement : 40°C !\";\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 500,
        "wires": [
            [
                "5072bb6662905728",
                "1ee5244e3a911328",
                "40c9bb4dcffa11bc"
            ]
        ]
    },
    {
        "id": "5072bb6662905728",
        "type": "ui_toast",
        "z": "8fe560575451b2d7",
        "position": "top right",
        "displayTime": "3",
        "highlight": "pink",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "Alerte Température en salle d'hebergement !",
        "name": "Alerte Température  !",
        "x": 580,
        "y": 620,
        "wires": []
    },
    {
        "id": "15cb5e397f99ac27",
        "type": "debug",
        "z": "8fe560575451b2d7",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 540,
        "wires": []
    },
    {
        "id": "1ee5244e3a911328",
        "type": "e-mail",
        "z": "8fe560575451b2d7",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "lidiansae411@gmail.com",
        "dname": "Mail",
        "x": 530,
        "y": 480,
        "wires": []
    },
    {
        "id": "7145cd74ad48a1da",
        "type": "inject",
        "z": "8fe560575451b2d7",
        "name": "Déclencher une température élevée",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperature\": 40, \"humidite\": 51.90}",
        "payloadType": "json",
        "x": 240,
        "y": 180,
        "wires": [
            [
                "fd8c59c4cd979ba9"
            ]
        ]
    },
    {
        "id": "fd8c59c4cd979ba9",
        "type": "mqtt out",
        "z": "8fe560575451b2d7",
        "name": "",
        "topic": "capteur/temperature/hebergement",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6ddfcaba62ed555c",
        "x": 560,
        "y": 180,
        "wires": []
    },
    {
        "id": "626792366c18c240",
        "type": "inject",
        "z": "8fe560575451b2d7",
        "name": "Injecter script XSS",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"texte\":\"<script>alert('XSS')</script>\"}",
        "payloadType": "json",
        "x": 210,
        "y": 1460,
        "wires": [
            [
                "24d80f01965ff2d0"
            ]
        ]
    },
    {
        "id": "24d80f01965ff2d0",
        "type": "influxdb out",
        "z": "8fe560575451b2d7",
        "influxdb": "3740e4e657bd3d92",
        "name": "Écrire dans InfluxDB",
        "measurement": "avis",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "retentionPolicyV18Flux": "",
        "org": "Lidian",
        "bucket": "commentaires",
        "x": 450,
        "y": 1460,
        "wires": []
    },
    {
        "id": "e15a888e423e38b0",
        "type": "http in",
        "z": "8fe560575451b2d7",
        "name": "",
        "url": "/commentaires",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 1540,
        "wires": [
            [
                "e47399147c394f6b"
            ]
        ]
    },
    {
        "id": "e47399147c394f6b",
        "type": "influxdb in",
        "z": "8fe560575451b2d7",
        "influxdb": "3740e4e657bd3d92",
        "name": "Lire depuis InfluxDB",
        "query": "from(bucket: \"commentaires\") |> range(start: -1d) |> filter(fn: (r) => r._measurement == \"avis\" and r._field == \"texte\")",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "Lidian",
        "x": 430,
        "y": 1540,
        "wires": [
            [
                "bf3d68bc5b5577f2"
            ]
        ]
    },
    {
        "id": "bf3d68bc5b5577f2",
        "type": "function",
        "z": "8fe560575451b2d7",
        "name": "Formater JSON",
        "func": "const commentaires = msg.payload.map(e => e._value);\nmsg.payload = { commentaires };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1540,
        "wires": [
            [
                "a6fdf65855bd7554"
            ]
        ]
    },
    {
        "id": "a6fdf65855bd7554",
        "type": "http response",
        "z": "8fe560575451b2d7",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 860,
        "y": 1540,
        "wires": []
    },
    {
        "id": "1509e1cb29008c3f",
        "type": "inject",
        "z": "8fe560575451b2d7",
        "name": "Délencher de la fumée",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "900",
        "payloadType": "num",
        "x": 920,
        "y": 200,
        "wires": [
            [
                "6f27e54cc5ab23b1"
            ]
        ]
    },
    {
        "id": "6f27e54cc5ab23b1",
        "type": "mqtt out",
        "z": "8fe560575451b2d7",
        "name": "",
        "topic": "capteur/fumee/hebergement",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6ddfcaba62ed555c",
        "x": 1160,
        "y": 200,
        "wires": []
    },
    {
        "id": "40c9bb4dcffa11bc",
        "type": "http request",
        "z": "8fe560575451b2d7",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.callmebot.com/whatsapp.php?phone=33766489074&text=Température+élevée+en+salle+hebergement&apikey=5438638",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 540,
        "wires": [
            [
                "15cb5e397f99ac27"
            ]
        ]
    },
    {
        "id": "6ddfcaba62ed555c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.100",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1dd4782fe68705c7",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "Temp",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://192.168.1.130:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "4c478d375568f7cd",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "choc",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://192.168.1.130:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "453ae410a021db25",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.100",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4ae37e8e6eccfb6d",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "fume",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://192.168.1.130:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "6592ab71b58c9391",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "detect",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://192.168.1.130:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "3740e4e657bd3d92",
        "type": "influxdb",
        "hostname": "localhost",
        "port": "8086",
        "protocol": "http",
        "database": "commentaires",
        "name": "InfluxDB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": "",
        "rejectUnauthorized": false
    }
]