nod-red/Zone_jaune.json
[
    {
        "id": "009c6f9413b10f9e",
        "type": "tab",
        "label": "Zone jaune",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "352af524bc9d1db3",
        "type": "mqtt in",
        "z": "009c6f9413b10f9e",
        "name": "",
        "topic": "capteur/temperature/mmr",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6ddfcaba62ed555c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 240,
        "wires": [
            [
                "1dc17bb72d1b0783",
                "30fa7f17bf419fc9",
                "6bb7f6d376012489"
            ]
        ]
    },
    {
        "id": "1dc17bb72d1b0783",
        "type": "debug",
        "z": "009c6f9413b10f9e",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 240,
        "wires": []
    },
    {
        "id": "30fa7f17bf419fc9",
        "type": "influxdb out",
        "z": "009c6f9413b10f9e",
        "influxdb": "1dd4782fe68705c7",
        "name": "",
        "measurement": "mmr",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Lidian",
        "bucket": "Temp",
        "x": 530,
        "y": 380,
        "wires": []
    },
    {
        "id": "6bb7f6d376012489",
        "type": "function",
        "z": "009c6f9413b10f9e",
        "name": "function 11",
        "func": "if (msg.payload.temperature > 30){\n    msg.topic = \"Alerte températaure\";\n    msg.payload = \"Température élevée en salle mmr: 40°C !\";\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 460,
        "wires": [
            [
                "619b0d3bced3a9aa",
                "c36efaf2dd0875cc",
                "0ff37506cb85302f"
            ]
        ]
    },
    {
        "id": "c36efaf2dd0875cc",
        "type": "ui_toast",
        "z": "009c6f9413b10f9e",
        "position": "top right",
        "displayTime": "3",
        "highlight": "pink",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "Alerte Température en salle mmr !",
        "name": "Alerte Température !",
        "x": 540,
        "y": 580,
        "wires": []
    },
    {
        "id": "619b0d3bced3a9aa",
        "type": "http request",
        "z": "009c6f9413b10f9e",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.callmebot.com/whatsapp.php?phone=33766489074&text=Température+élevée+en+salle+mmr&apikey=5438638",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 500,
        "wires": [
            [
                "3bdccf97a59cd2a4"
            ]
        ]
    },
    {
        "id": "3bdccf97a59cd2a4",
        "type": "debug",
        "z": "009c6f9413b10f9e",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 500,
        "wires": []
    },
    {
        "id": "0ff37506cb85302f",
        "type": "e-mail",
        "z": "009c6f9413b10f9e",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "lidiansae411@gmail.com",
        "dname": "Mail",
        "x": 490,
        "y": 440,
        "wires": []
    },
    {
        "id": "0923fc393903d724",
        "type": "inject",
        "z": "009c6f9413b10f9e",
        "name": "Déclencher une température élevée",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperature\": 40, \"humidite\": 51.90}",
        "payloadType": "json",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "acfa48fedf361e1a"
            ]
        ]
    },
    {
        "id": "acfa48fedf361e1a",
        "type": "mqtt out",
        "z": "009c6f9413b10f9e",
        "name": "",
        "topic": "capteur/temperature/mmr",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6ddfcaba62ed555c",
        "x": 490,
        "y": 140,
        "wires": []
    },
    {
        "id": "12dbedf5fe49c1ca",
        "type": "mqtt in",
        "z": "009c6f9413b10f9e",
        "name": "",
        "topic": "capteur/fumee/mmr",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "6ddfcaba62ed555c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 870,
        "y": 220,
        "wires": [
            [
                "d336cfc88746e35c",
                "3b68687b26bf2d43",
                "32e63a659ca10cd1"
            ]
        ]
    },
    {
        "id": "d336cfc88746e35c",
        "type": "debug",
        "z": "009c6f9413b10f9e",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 220,
        "wires": []
    },
    {
        "id": "3b68687b26bf2d43",
        "type": "influxdb out",
        "z": "009c6f9413b10f9e",
        "influxdb": "4ae37e8e6eccfb6d",
        "name": "",
        "measurement": "zjaune",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Lidian",
        "bucket": "fume",
        "x": 1250,
        "y": 280,
        "wires": []
    },
    {
        "id": "32e63a659ca10cd1",
        "type": "function",
        "z": "009c6f9413b10f9e",
        "name": "function 13",
        "func": "if (msg.payload > 800){\n    msg.topic = \"Alerte fumée\";\n    msg.payload = \"Présence de fumée détecté en salle mmr ! Vérifiez immédiatement.\";\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 340,
        "wires": [
            [
                "53d8a0b7bb5e0f02",
                "597fc1d8edd51e90",
                "7ba7e69ac5862d2c"
            ]
        ]
    },
    {
        "id": "597fc1d8edd51e90",
        "type": "ui_toast",
        "z": "009c6f9413b10f9e",
        "position": "top right",
        "displayTime": "3",
        "highlight": "pink",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "Alerte fumée en salle mmr !",
        "name": "Alerte fumée !",
        "x": 1300,
        "y": 500,
        "wires": []
    },
    {
        "id": "53d8a0b7bb5e0f02",
        "type": "http request",
        "z": "009c6f9413b10f9e",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.callmebot.com/whatsapp.php?phone=33766489074&text=Présence+de+fumée+détecté+en+salle+mmr+Vérifiez+immédiatement&apikey=5438638",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1290,
        "y": 440,
        "wires": [
            [
                "3902a06b773272e9"
            ]
        ]
    },
    {
        "id": "3902a06b773272e9",
        "type": "debug",
        "z": "009c6f9413b10f9e",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 400,
        "wires": []
    },
    {
        "id": "7ba7e69ac5862d2c",
        "type": "e-mail",
        "z": "009c6f9413b10f9e",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "lidiansae411@gmail.com",
        "dname": "Mail",
        "x": 1270,
        "y": 360,
        "wires": []
    },
    {
        "id": "7c25c247d20ec634",
        "type": "inject",
        "z": "009c6f9413b10f9e",
        "name": "Délencher de la fumée",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "900",
        "payloadType": "num",
        "x": 880,
        "y": 160,
        "wires": [
            [
                "5321532446102a22"
            ]
        ]
    },
    {
        "id": "5321532446102a22",
        "type": "mqtt out",
        "z": "009c6f9413b10f9e",
        "name": "",
        "topic": "capteur/fumee/mmr",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6ddfcaba62ed555c",
        "x": 1090,
        "y": 160,
        "wires": []
    },
    {
        "id": "e64e0186bf9193d7",
        "type": "mqtt in",
        "z": "009c6f9413b10f9e",
        "name": "",
        "topic": "capteur/mouvement/mmr",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "6ddfcaba62ed555c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 700,
        "wires": [
            [
                "08bbf437cb34daad",
                "03270ae75efd5f78",
                "95b3f832e121a48c"
            ]
        ]
    },
    {
        "id": "08bbf437cb34daad",
        "type": "debug",
        "z": "009c6f9413b10f9e",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 700,
        "wires": []
    },
    {
        "id": "03270ae75efd5f78",
        "type": "influxdb out",
        "z": "009c6f9413b10f9e",
        "influxdb": "6592ab71b58c9391",
        "name": "",
        "measurement": "jaune",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Lidian",
        "bucket": "detect",
        "x": 530,
        "y": 780,
        "wires": []
    },
    {
        "id": "567d9126b51fab61",
        "type": "ui_toast",
        "z": "009c6f9413b10f9e",
        "position": "top right",
        "displayTime": "3",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "Alerte mouvement en salle mmr !",
        "name": "Alerte mouvement !",
        "x": 550,
        "y": 960,
        "wires": []
    },
    {
        "id": "ecbc0fd6d829511b",
        "type": "http request",
        "z": "009c6f9413b10f9e",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.callmebot.com/whatsapp.php?phone=33766489074&text=Mouvement+detecte+en+salle+mmr&apikey=5438638",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 900,
        "wires": [
            [
                "22c8c8090e824d37"
            ]
        ]
    },
    {
        "id": "22c8c8090e824d37",
        "type": "debug",
        "z": "009c6f9413b10f9e",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 900,
        "wires": []
    },
    {
        "id": "698de282afcf6214",
        "type": "e-mail",
        "z": "009c6f9413b10f9e",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "lidiansae411@gmail.com",
        "dname": "Mail",
        "x": 510,
        "y": 840,
        "wires": []
    },
    {
        "id": "95b3f832e121a48c",
        "type": "function",
        "z": "009c6f9413b10f9e",
        "name": "function 14",
        "func": "msg.to=\"wademame2005@gmail.com\";\nmsg.topic=\"Alerte mouvement\";\nmsg.payload=\"Un mouvement a été détecté en salle mmr!\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 900,
        "wires": [
            [
                "698de282afcf6214",
                "ecbc0fd6d829511b",
                "567d9126b51fab61"
            ]
        ]
    },
    {
        "id": "6ddfcaba62ed555c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.100",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1dd4782fe68705c7",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "Temp",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://192.168.1.130:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "4ae37e8e6eccfb6d",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "fume",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://192.168.1.130:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "6592ab71b58c9391",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "detect",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://192.168.1.130:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    }
]